CMDB CI/src/xsd/pojo.cmdb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of Klistret. Klistret is free software: you can redistribute 
	it and/or modify it under the terms of the GNU General Public License as 
	published by the Free Software Foundation, either version 3 of the License, 
	or (at your option) any later version. Klistret is distributed in the hope 
	that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
	GNU General Public License for more details. You should have received a copy 
	of the GNU General Public License along with Klistret. If not, see <http://www.gnu.org/licenses/> -->
<xs:schema xmlns="http://www.klistret.com/cmdb/ci/pojo"
	targetNamespace="http://www.klistret.com/cmdb/ci/pojo" xmlns:commons="http://www.klistret.com/cmdb/ci/commons"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.0" jaxb:extensionBindingPrefixes="annox ci"
	xmlns:annox="http://annox.dev.java.net" xmlns:ci="http://jaxb.dev.java.net/plugin/code-injector"
	xmlns:jxba="http://annox.dev.java.net/javax.xml.bind.annotation"
	xmlns:jxp="http://annox.dev.java.net/javax.persistence" xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations"
	xmlns:ka="http://annox.dev.java.net/com.klistret.cmdb.annotations.ci"
	elementFormDefault="qualified">

	<xs:import namespace="http://www.klistret.com/cmdb/ci/commons"
		schemaLocation="commons.cmdb.xsd" />

	<xs:simpleType name="id">
		<xs:annotation>
			<xs:documentation>
				Unique identification (mapping to generic id)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long" />
	</xs:simpleType>

	<xs:simpleType name="name">
		<xs:annotation>
			<xs:documentation>Object name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="fromTimeStamp">
		<xs:annotation>
			<xs:documentation>
				Time stamp denoting from when the object is active
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime" />
	</xs:simpleType>

	<xs:simpleType name="toTimeStamp">
		<xs:annotation>
			<xs:documentation>
				Time stamp denoting how long the object is active
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime" />
	</xs:simpleType>

	<xs:simpleType name="createId">
		<xs:annotation>
			<xs:documentation>Creation ID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="createTimeStamp">
		<xs:annotation>
			<xs:documentation>
				Time stamp when the object was created
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime" />
	</xs:simpleType>

	<xs:simpleType name="updateTimeStamp">
		<xs:annotation>
			<xs:documentation>
				Time stamp when the object was last updated
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime" />
	</xs:simpleType>


	<xs:complexType name="Element">
		<xs:annotation>
			<xs:appinfo>
				<annox:annotate>
					<jxba:XmlRootElement name="Element" />
					<jxp:Entity />
					<jxp:Table name="ELEMENT" />
				</annox:annotate>
				<ci:code><![CDATA[
					public boolean equals(Object other) { 
						if (this == other)
							return true;
						
						if (this.id == null)
							return false;
							
						if (!(other instanceof Element))
							return false;
						
						final Element that = (Element) other;
						
						return this.id.equals(that.getId());
					}
					
					public int hashCode() {
        				if (id != null) {
            				return id.hashCode();
        				} else {
            				return super.hashCode();
        				}
    				}
					]]>
				</ci:code>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="id" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Id />
							<jxp:GeneratedValue strategy="IDENTITY" />
							<jxp:Column name="ELEMENTID" columnDefinition="INTEGER" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="name" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="NAME" length="100" nullable="false" />
							<ha:Index name="ELEMENT_SK" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="ElementType" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<!-- FetchType.EAGER on ManyToOne is the same as lazy=false -->
						<annox:annotate target="field">
							<jxp:ManyToOne fetch="EAGER" />
							<jxp:JoinColumn name="ELEMENTTYPEID"
								columnDefinition="INTEGER" nullable="false" />
							<ha:Index name="ELEMENT_FK ELEMENT_SK" />
							<ha:ForeignKey name="FK_TYPE_ELEMENT" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fromTimeStamp" type="fromTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="FROMTIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="toTimeStamp" type="toTimeStamp"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="TOTIMESTAMP" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="createId" type="createId" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="CREATEID" length="10" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="createTimeStamp" type="createTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="CREATETIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateTimeStamp" type="updateTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="UPDATETIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="configuration" type="commons:Element"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<ha:Type type="com.klistret.cmdb.utility.hibernate.JAXBUserType" />
							<jxp:Column name="CONFIGURATION" columnDefinition="XML"
								nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceRelations" type="Relation"
				maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<!-- FetchType.LAZY is the same as lazy=true and mappedBy is equivalent 
							to inverse=true -->
						<annox:annotate target="field">
							<jxp:OneToMany mappedBy="source" fetch="LAZY" />
							<ha:OnDelete action="NO_ACTION" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="destinationRelations" type="Relation"
				maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<!-- FetchType.LAZY is the same as lazy=true and mappedBy is equivalent 
							to inverse=true -->
						<annox:annotate target="field">
							<jxp:OneToMany mappedBy="destination" fetch="LAZY" />
							<ha:OnDelete action="NO_ACTION" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="Relation">
		<xs:annotation>
			<xs:appinfo>
				<annox:annotate>
					<jxba:XmlRootElement name="Relation" />
					<jxp:Entity />
					<jxp:Table name="RELATION" />
				</annox:annotate>
				<ci:code><![CDATA[
					public boolean equals(Object other) { 
						if (this == other)
							return true;
						
						if (this.id == null)
							return false;
							
						if (!(other instanceof Relation))
							return false;
						
						final Relation that = (Relation) other;
						
						return this.id.equals(that.getId());
					}
					
					public int hashCode() {
        				if (id != null) {
            				return id.hashCode();
        				} else {
            				return super.hashCode();
        				}
    				}
					]]>
				</ci:code>
			</xs:appinfo>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="id" type="id" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Id />
							<jxp:GeneratedValue strategy="IDENTITY" />
							<jxp:Column name="RELATIONID" columnDefinition="INTEGER" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="RelationType" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<!-- FetchType.EAGER on ManyToOne is the same as lazy=false -->
						<annox:annotate target="field">
							<jxp:ManyToOne fetch="EAGER" />
							<jxp:JoinColumn name="RELATIONTYPEID"
								columnDefinition="INTEGER" nullable="false" />
							<ha:Index name="RELATION_FK RELATION_SK" />
							<ha:ForeignKey name="FK_TYPE_REL" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fromTimeStamp" type="fromTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="FROMTIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="toTimeStamp" type="toTimeStamp"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="TOTIMESTAMP" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="createId" type="createId" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="CREATEID" length="10" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="createTimeStamp" type="createTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="CREATETIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateTimeStamp" type="updateTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="UPDATETIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="Element" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<!-- FetchType.EAGER on ManyToOne is the same as lazy=false -->
						<annox:annotate target="field">
							<jxp:ManyToOne fetch="EAGER" />
							<jxp:JoinColumn name="SOURCEID" columnDefinition="INTEGER"
								nullable="false" />
							<ha:Index name="SOURCE_REL_FK" />
							<ha:ForeignKey name="FK_REL_SOURCE" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="destination" type="Element" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<!-- FetchType.EAGER on ManyToOne is the same as lazy=false -->
						<annox:annotate target="field">
							<jxp:ManyToOne fetch="EAGER" />
							<jxp:JoinColumn name="DESTINATIONID"
								columnDefinition="INTEGER" nullable="false" />
							<ha:Index name="DEST_REL_FK" />
							<ha:ForeignKey name="FK_REL_DEST" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="configuration" type="commons:Relation"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<ha:Type type="com.klistret.cmdb.utility.hibernate.JAXBUserType" />
							<jxp:Column name="CONFIGURATION" columnDefinition="XML"
								nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="ElementType">
		<xs:annotation>
			<xs:appinfo>
				<annox:annotate>
					<jxba:XmlRootElement name="ElementType" />
					<jxp:Entity />
					<jxp:Table name="ELEMENTTYPE" />
				</annox:annotate>
				<ci:code><![CDATA[
					public boolean equals(Object other) { 
						if (this == other)
							return true;
						
						if (this.id == null)
							return false;
							
						if (!(other instanceof ElementType))
							return false;
						
						final ElementType that = (ElementType) other;
						
						return this.id.equals(that.getId());
					}
					
					public int hashCode() {
        				if (id != null) {
            				return id.hashCode();
        				} else {
            				return super.hashCode();
        				}
    				}
					]]>
				</ci:code>
			</xs:appinfo>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="id" type="id" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Id />
							<jxp:GeneratedValue strategy="IDENTITY" />
							<jxp:Column name="ELEMENTTYPEID" columnDefinition="INTEGER" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="name" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="NAME" length="100" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fromTimeStamp" type="fromTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="FROMTIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="toTimeStamp" type="toTimeStamp"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="TOTIMESTAMP" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="createId" type="createId" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="CREATEID" length="10" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="createTimeStamp" type="createTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="CREATETIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateTimeStamp" type="updateTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="UPDATETIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="RelationType">
		<xs:annotation>
			<xs:appinfo>
				<annox:annotate>
					<jxba:XmlRootElement name="RelationType" />
					<jxp:Entity />
					<jxp:Table name="RELATIONTYPE" />
				</annox:annotate>
				<ci:code><![CDATA[
					public boolean equals(Object other) { 
						if (this == other)
							return true;
						
						if (this.id == null)
							return false;
							
						if (!(other instanceof RelationType))
							return false;
						
						final RelationType that = (RelationType) other;
						
						return this.id.equals(that.getId());
					}
					
					public int hashCode() {
        				if (id != null) {
            				return id.hashCode();
        				} else {
            				return super.hashCode();
        				}
    				}
					]]>
				</ci:code>
			</xs:appinfo>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="id" type="id" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Id />
							<jxp:GeneratedValue strategy="IDENTITY" />
							<jxp:Column name="RELATIONTYPEID" columnDefinition="INTEGER" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="name" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="NAME" length="100" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fromTimeStamp" type="fromTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="FROMTIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="toTimeStamp" type="toTimeStamp"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="TOTIMESTAMP" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="createId" type="createId" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="CREATEID" length="10" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="createTimeStamp" type="createTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="CREATETIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateTimeStamp" type="updateTimeStamp"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<annox:annotate target="field">
							<jxp:Column name="UPDATETIMESTAMP" nullable="false" />
						</annox:annotate>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>